# EDA for Marks engineering employees project

In [1]:
import pandas as pd

In [4]:
base_df = pd.read_excel("../data/raw_data.xlsx", sheet_name="БАза")

/home/usr/miniforge3/envs/Marks/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [19]:
base_df.head()

,Номер,Стаж,Возраст,Остатки отпусков по основному месту работы / внешний совместитель (осн. Место не в группе компаний),Дата увольнения,Примечание,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,...,БП-БП-342.4,000000215.4,БП-БП-363.4,nan.159,000000030.4,БП-БП-366.4,БП-БП-467.4,БП-БП-410.4,БП-БП-335.1,Количество проектов сентябрь
0,ID00000051,16.727778,39.219444,121.00,NaT,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0.0
1,ID00001319,2.002778,56.813889,0.00,2024-09-02,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0.0
2,ID00000054,10.858333,39.688889,174.31,NaT,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0.0
3,ID00000049,6.427778,40.797222,7.33,NaT,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,ID00000055,11.491667,33.972222,5.33,NaT,NaN,NaN,NaN,NaN,+,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [27]:
# removing irrelevant service columns
base_df = base_df.loc[:, ~base_df.columns.str.startswith("0").fillna(False)]
base_df = base_df.loc[:, ~base_df.columns.str.startswith("БП").fillna(False)]
base_df = base_df.loc[:, ~base_df.columns.str.startswith("nan").fillna(False)]

In [31]:
base_df.columns.to_list()

['Номер',
 'Стаж',
 'Возраст',
 'Остатки отпусков по основному месту работы / внешний совместитель (осн. Место не в группе компаний)',
 'Дата увольнения',
 'Примечание',
 datetime.datetime(2024, 1, 1, 0, 0),
 datetime.datetime(2024, 2, 1, 0, 0),
 datetime.datetime(2024, 3, 1, 0, 0),
 datetime.datetime(2024, 4, 1, 0, 0),
 datetime.datetime(2024, 5, 1, 0, 0),
 datetime.datetime(2024, 6, 1, 0, 0),
 datetime.datetime(2024, 7, 1, 0, 0),
 datetime.datetime(2024, 8, 1, 0, 0),
 datetime.datetime(2024, 9, 1, 0, 0),
 'Количество изменений',
 'Факт повышения',
 '% повышения',
 'Оценка 360 градусов',
 'Оценка 360 градусов (интерпритация данных)',
 'NPS',
 'Критичные',
 'Потенциал',
 'Востребованность \n1 - высокая, 0 - низкая',
 'Высокая корп. интеграция\n1 - да',
 'Обучение анг.яз',
 'BIM лидер',
 'Рекомендательный рекрутинг 1',
 'Рекомендательный рекрутинг 2',
 'Рекомендательный рекрутинг 3',
 'HH',
 'HH коммент',
 'ФАКТ переведенный на 8 часов, май',
 'Выход в выходной, май',
 'ФАКТ, май',
 'К-т переработки, май',
 nan,
 'Внепроектное совещание',
 'Образовательная деятельность',
 'ПЕРСПЕКТИВНЫЕ ПРОЕКТЫ',
 'Поручение непосредственного руководителя',
 'ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ',
 'РАБОТЫ БЕЗ ДОГОВОРА',
 'Количество проектов май',
 'ФАКТ переведенный на 8 часов, июнь',
 'Выход в выходной, июнь',
 'ФАКТ, июнь',
 'К-т переработки, июнь',
 'Внепроектное совещание.1',
 'Образовательная деятельность.1',
 'ПЕРСПЕКТИВНЫЕ ПРОЕКТЫ.1',
 'Поручение непосредственного руководителя.1',
 'ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ.1',
 'РАБОТЫ БЕЗ ДОГОВОРА.1',
 'Количество проектов июнь',
 'ФАКТ переведенный на 8 часов, июль',
 'Выход в выходной, июль',
 'ФАКТ, июль',
 'К-т переработки, июль',
 'Внепроектное совещание.2',
 'Образовательная деятельность.2',
 'ПЕРСПЕКТИВНЫЕ ПРОЕКТЫ.2',
 'Поручение непосредственного руководителя.2',
 'ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ.2',
 'РАБОТЫ БЕЗ ДОГОВОРА.2',
 'Количество проектов июль',
 'ФАКТ переведенный на 8 часов, август',
 'Выход в выходной, август',
 'ФАКТ, август',
 'К-т переработки, август',
 'ПЕРСПЕКТИВНЫЕ ПРОЕКТЫ.3',
 'ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ.3',
 'ТЕНДЕРНАЯ РАБОТА',
 'Количество проектов август',
 'ФАКТ переведенный на 8 часов, сентябрь',
 'Выход в выходной, сентябрь',
 'ФАКТ, сентябрь',
 'К-т переработки, сентябрь',
 'ПЕРСПЕКТИВНЫЕ ПРОЕКТЫ.4',
 'Количество проектов сентябрь']